{{! Use the main layout }}
{{!< main }}

{{! New Post Submission Form }}
<section class="content-container">
    {{#if loggedIn}}
        <!-- show the create post form when logged in -->
        <section class="post-form">
            <!-- make a header here -->
            <h2>Create a new {{{postNeoType}}}!</h2>
            <form action="/posts" method="POST">
                <!-- title input field name = "title" -->
                <input type="text" id="post-title-input" name="title" placeholder="Title">
                <!-- text area input field name = "content" -->
                <textarea id="post-content-input" rows="10" name="content"></textarea>


                <div class="form-actions">
                    <button type="button" class="emoji-button" id="emoji-button">😀</button>
                    <button type="submit" class="post-button">Post</button>
                </div>
            </form>

            <div id="emoji-container" class="emoji-panel" style="display: none;">
                <input type="text" id="emoji-search">
                <div id="emoji-grid"></div>
            </div>
        </section>
    {{/if}}

    <section class="posts-list">
        <!-- recent posts -->
        <nav class="post-list-header">
            <span class="invisible">
                <label for="dropdown-dummy" class="dropdown-label">Sort:</label>
                <select id="sort-dropdown-dummy" name="dropdown-dummy" class="dropdown">
                    <option value="id">Recency</option>
                    <option value="likes">Likes</option>
                </select>
            </span>

            <h2>Recent {{{postNeoType}}}s</h2>

            <span>
                <label for="dropdown" class="dropdown-label">Sort:</label>
                <select id="sort-dropdown" name="dropdown" class="dropdown">
                    <option value="id">Recency</option>
                    <option value="likes">Likes</option>
                </select>
            </span>
        </nav>

        {{#if posts.length}}
        <ul class="posts-ul">
            {{#each posts}}
                <!-- you have to pass the user in to posts and this is the syntax -->
                {{> post this user=../user loggedIn=../loggedIn}}
            {{/each}}
        </ul>
        {{else}}
            <!-- no posts, oh no, what now? -->
        {{/if}}
    </section>
</section>

<div id="sort-criteria">{{sortCriteria}}</div>

<script src="javascript/home.js"></script>
