{{! Use the main layout }}
{{!< main }}

<section class="login-register">
    <section class = "login-area signin-area">
        <h2>Login</h2>
        <!-- errors will appear here -->
        {{#if loginError}}
            <p style="color: red;">{{loginError}}</p>
        {{/if}}
        <form action="/login" method="POST">
            <!-- the login form goes here -->
            <div class="username-input">
                <label for="login-username">Username:</label>
                <input type="text" id="login-username" name="loginUsername">
            </div>

            <button type="submit" id="login">Login</button>
        </form>
    </section>

    <!-- say --OR-- ... with style -->
    <h1>-OR-</h1>


    <section class = "register-area signin-area">
        <h2>Register</h2>
        <!-- errors will appear here -->
        {{#if regError}}
            <p style="color: red;">{{regError}}</p>
        {{/if}}
        <form action="/register" method="POST">
            <!-- the registration form goes here -->
            <div class="username-input">
                <label for="register-username">Username:</label>
                <input type="text" id="register-username">
            </div>

            <button type="submit">Register</button>
        </form>
    </section>
</section>