{{! Use the main layout }}
{{!< main }}

<section class="login-register">
    <section class = "login-area signin-area">
        <h2>Login With Google</h2>
        <button type="button" id="Login" onclick="window.location.href='/auth/google'">Login With Google</button>
    </section>
</section>