
.login-register {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-evenly;
}

/* mobile */
@media (max-width: 800px) {
    .login-register {
        flex-direction: column;
    }

    .login-register section {
        width: 60vw;
    }
}

.login-register section {
    min-width: 20vw;
    height: 50vh;
    padding: 1em;
    padding-top: 2em;
    border-radius: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-top: 3em;
    margin-bottom: 3em;
}

.login-register section h2 {
    text-align: left;
}

.username-input {
    display: flex;
    flex-direction: column;
}

.username-input input {
    padding: 1em;
    border-radius: .5em;
}

.login-register button {
    width: 100%;
    margin-top: 2em;
    padding: 1em;
}
