
.panel {
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.post {
    display: flex;
    width: 80%;
}

.post-avatar-img {
    width: 4em;
    aspect-ratio: 1/1;
    border-radius: .6em;
    margin-right: 1em;
}

.post-content {
    flex-grow: 1;
}

.no-overflow {
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
}

.post-status-bar {
    display: flex;
    justify-content: space-between;
}

.post-status-bar > * {
    margin-left: 1em;
}

.post-status-bar > :first-child {
    margin-left: 0;
}

.icon-button {
    color: var(--accent-color);
    background-color: inherit;
    border: 0;
}

.icon-button:hover {
    color: red;
}

.count-likes {
    min-width: 3.5em;
}

hr {
    border: 0;
    border-top: 1px solid #eee;
    margin-top: 1em;
    margin-bottom: .5em;
}




