
.profile-page {
    flex: 1;
}

.profile-container {
    display: flex;
    margin-top: 3em;
    align-items: center;
}

.profile-container > * {
    margin-bottom: 1em;
}

.profile-avatar {
    display: inline;
    margin-right: 1em;
}

.profile-avatar-img {
    border-radius: 2em;
    height: 23vh;
    aspect-ratio: 1/1;
}

.profile-info {
    display: inline-block;
}

.username-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.input-container {
    min-height: 1.6em;
    margin-top: .5em;
}

.edit-username-button {
    margin-top: .5em;
    margin-left: .1em;
    cursor: pointer;
}

.edit-username-button:hover {
    color: var(--highlight-color);
}

#update-username-form {
    display: none;
}

#username-input {
    max-width: 10em;
}

.user-posts {
    text-align: center;
}

.post-list-header {
    margin-bottom: .5em;
}

.user-posts ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.no-posts-alert {
    text-align: center;
}

.user-posts > h2 {
    margin-bottom: 1em;
}

.upload-avatar-button {
    padding: 1.5em;
}

.no-display {
    display: none;
}

.delete-account-button {
    padding: 1.5em;
    margin-left: .7em;
}


.modal {
    display: none;
    position: fixed;
    align-items: center;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    position: relative;
    margin: auto;
    padding: 1em;
    border: 1px solid #888;
    border-radius: 2em;
    width: 50%;
}

.close {
    position: absolute;
    top: .1em;
    right: .4em;
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,.close:focus {
    color: #000;
    text-decoration: none;
}

.modal-buttons {
    display: flex;
    justify-content: space-evenly;
}

.modal-buttons button {
    padding: 1em;
}


/* mobile */
@media (max-width: 800px) {
    .profile-container {
        flex-direction: column;
    }
}

/* desktop */
@media (min-width: 800px) {
    .profile-container {
        margin-right: 15vw;
        margin-left: 2em;
        justify-content: space-between;
    }
}
