

.profile-container {
    display: flex;
    margin-top: 3em;
}

/* mobile */
@media (max-width: 800px) {
    .profile-container {
        flex-direction: column;
    }
}

.profile-avatar {
    display: inline;
}

.profile-avatar-img {
    border-radius: 2em;
}

.profile-info {
    display: inline-block;
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.user-posts ul {
    display: flex;
    justify-content: center;
}