
.profile-page {
    flex: 1;
}

.profile-container {
    display: flex;
    margin-top: 3em;
    align-items: center;
}

.profile-container > * {
    margin-bottom: 1em;
}

.profile-avatar {
    display: inline;
}

.profile-avatar-img {
    border-radius: 2em;
    height: 23vh;
    aspect-ratio: 1/1;
}

.profile-info {
    display: inline-block;
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.user-posts ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.no-posts-alert {
    text-align: center;
}

.user-posts > h2 {
    margin-bottom: 1em;
}


/* mobile */
@media (max-width: 800px) {
    .profile-container {
        flex-direction: column;
    }
}

/* desktop */
@media (min-width: 800px) {
    .profile-container {
        margin-right: 35vw;
        margin-left: 2em;
        justify-content: space-between;
    }
}