
:root {
    --accent-color: pink;
}

* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}


body {
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--accent-color);
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.logo {
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
}

.header-options {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 100%;
    align-items: center;
}

.posts-list ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

li {
    float: left;
    height: 100%;
    display: flex;
    align-items: center;
}

li a {
    text-decoration: inherit;
    color: black;
    height: 100%;
    padding-left: .5em;
    padding-right: .5em;
    line-height: 3em;
}

li a:hover {
    background-color: #fbb1bd;
}

.user-info {
    display: inline;
}

.header-avatar {
    display: inline;
    width: 2em;
    aspect-ratio: 1/1;
    border-radius: .3em;
}

h2 {
    text-align: center;
}

.login-register {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* mobile */
@media (max-width: 800px) {
    .login-register {
        flex-direction: column;
    }

    .login-register section {
        width: 60vw;
    }
}

.login-register section {
    min-width: 20vw;
    height: 50vh;
    padding: 1em;
    padding-top: 2em;
    border-radius: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-top: 3em;
    margin-bottom: 3em;
}

.login-register section h2 {
    text-align: left;
}

.username-input {
    display: flex;
    flex-direction: column;
}

.username-input input {
    padding: 1em;
    border-radius: .5em;
}

.login-register button {
    width: 100%;
    margin-top: 2em;
    background-color: var(--accent-color);
    padding: 1em;
    border-radius: 1em;
}

footer {
    align-items: center;
    text-align: center;
    background-color: var(--accent-color);
    padding-top: .5em;
    padding-bottom: .5em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}