
:root {
    --accent-color: pink;
}

* {
    margin: 0;
}


body {
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--accent-color);
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.logo {
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 100%;
    align-items: center;
}

.posts-list ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

li {
    float: left;
    height: 100%;
    display: flex;
    align-items: center;
}

li a {
    text-decoration: inherit;
    height: 100%;
    padding-left: .5em;
    padding-right: .5em;
    line-height: 3em;
}

li a:hover {
    background-color: #fbb1bd;
}

h2 {
    text-align: center;
}

.posts-list {

}

.post {
    width: 80%;
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

footer {
    align-items: center;
    text-align: center;
    background-color: var(--accent-color);
    padding-top: .5em;
    padding-bottom: .5em;
}

footer p {
    margin: 0;
}